*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
}

:root{
    --font-color: #ffffff; 
    --bg-color: #1d293a;
}

body {
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    height: 100vh;
    background: #111a28;
}

h1 {
    font-weight: 400;
    font-size: 6rem;
    color: white;
    transform: skewY(-5deg);
    margin-bottom: 6rem;
    text-align: center;
    position: relative;
    word-spacing: 3px;
}

h1::before {
    content: '';
    display: block;
    height: 65%;
    width: 58%;
    position: absolute;
    top: 105%;
    left: 50%;
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
    opacity: .8;
    z-index: -1;
    transform: skewY(370deg) translate(-50%, -50%);
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
}

.card {
    background: white;
    box-shadow: 0 3rem 6rem 1rem rgba(0, 0, 0, 0.25);
}

.card__hero {
    position: relative;
}

.card__hero::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #67b26f, #4ca2cd);
    opacity: .3;
}

.card__img {
    width: 100%;
    display: block;
}

.card__name {
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    padding: 1.3rem .8rem;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    word-spacing: 1px;
}

.card__detail {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
}

.card__detail:first-of-type {
    border-bottom: 1px solid #eee;
}

.card__footer {
    display: flex;
    margin-top: 1.5rem;
}

.card__price {
    flex: 0 0 50%;
    background-color: #eee;
    border-top: 1px solid #e1e1e1;
    padding: 1.25rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.card__link:link,
.card__link:visited {
    flex: 0 0 50%;
    background-color: #5aaa9d;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.25rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.card__link:hover,
.card__link:active {
    background-color: #67b26f;
}

.emoji-left {
    font-size: 2rem;
    margin-right: 1rem;
}

.emoji-right {
    font-size: 2rem;
    margin-left: 1rem;
}

.overview {
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

/* Login Area CSS */


.form-inner,.info-card{
    padding: 25px;
}

.title{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #f9f9f9;
}

.info-card .info-desc p{
    color: #f9f9f9;
    font-size: 14px;
}

.info-card ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.info-card ul li{
    display: inline-block;
    position: relative;
}

.info-card ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    padding: 10px 10px;
    margin-right: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}

.info-copy p{
    text-align: center;
    margin: 0px;
    margin: 10px;
    color: var(--font-color);
    font-size: 14px;
}


.form-control{
    color: var(--font-color);
}

.navbar-light .navbar-toggler {
    color: var(--font-color);
    border-color: var(--font-color);
}

.bmd-layout-drawer{
    background-color: var(--bg-color);
}

.bmd-layout-content{
    margin-top: 25px;
}

.table thead th{
    color: var(--font-color);
}

.menu-toggle{
    display: none;
    position: absolute;
    background: #ffffff;
    right: 0;
}

.menu-toggle.show-menu{
    display: block;
}

.info-copy{
    margin-top: 25px;
}

.info-copy p{
    text-align: center;
}

.bmd-layout-content .btn-primary {
    background-color: hsla(0,0%,60%,.2);
}